/**
 * Settings
 */

$primary-color: color("grey", "darken-2");
$secondary-color: #fff;
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
