<script type="text/x-handlebars" data-template-name="patterns">

  <h1 class="content-headline" id="contentHeadline">Overview</h1>

  <nav class="content-nav" id="contentNav">
    <ul>
      <li class="active">
        <a href="#" role="button">todo</a>
      </li>
      <li>
        <a href="#" role="button">todo</a>
      </li>
      <li>
        <a href="#" role="button">todo</a>
      </li>
      <li>
        <a href="#" role="button">todo</a>
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-intro">
      <p>
        Foobar... Fugiat magni ea, quisquam dolorem. Et laudantium
        veniam veritatis, facilis reiciendis iure accusamus? Obcaecati quisquam dolor inventore eveniet aliquid.
      </p>
    </div>
  </div>

</script>